@charset "UTF-8";
/*For test only*/
/*Те що нижче птрібно суто для потреб розробк.*/
.mod_3_hr_accr__button, .mod_3_hr_accr__cont, .mod_3_hr_accr__item, .mod_3_hr_accr {
  padding: 2px;
  border: 1px solid gray;
  margin: 2px; }

.mod_3_hr_accr {
  background-color: #e6adad; }

.mod_3_hr_accr__item {
  background-color: #73e679; }

.mod_3_hr_accr__button, .mod_3_hr_accr__cont {
  background-color: #e9caa4; }

/*Для того щоб перевірити "переключання" даного класу*/
.mod_3_hr_accr__item--open {
  border: 2px solid red; }
