$main_link_col_activ: rgb(0, 17, 207);

body {
  background-color: rgb(231, 231, 231);
  //margin: 0;
  padding: 10px;
}

a.index_link {
  color: $main_link_col_activ;
}

.mod_3_hr_accr p {
  margin-top: 0; 
}

.accr_demo_box {
  border: 10px solid rgb(209, 209, 209);
  //margin: 10px;
  padding: 20px 0 20px;
  //background-color: rgb(54, 54, 54);

  width: 80%;
  margin: auto;
}

.accr_pl_description {
  margin: 10px 0 10px;
  padding: 10px;
  border: 1px dashed gray;
  background-color: rgb(243, 243, 243)
}

#small_div {
  width: 40%;
}

.mod_3_hr_accr__button:hover {
  background-color: rgb(226, 178, 119);
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
}