/*mod_4_responsive_slides*/

/*!!! Breakpoints - later must be done better*/
$breakpoints: (
  small: 0,
  medium: 640px,
  large: 1024px,
  xlarge: 1200px,
  xxlarge: 1440px,
);

/*1. For test only - begin*/
/*
.mod_4_resp_sl {
  border: 1px solid black;
  margin: auto;
  width: 500px;
  height: 200px;
  overflow: auto;
}
*/
#mod_4_resp_sl__testing_container {
  //width: 500px;
  background-color: lightcoral;
  //margin: auto;
  border: 1px solid black;
}

/*1. end*/

/*2. Slydes style*/
.mod_4_resp_sl {
  height: 100%;
}

.mod_4_resp_sl__list, .mod_4_resp_sl__slides {
  border: 1px solid gray;
  padding: 10px;
}

/*Make all slides not-visible as beginning state*/
.mod_4_resp_sl__slides > * {
  display: none;
}

/*Make activated slide visible*/
.mod_4_resp_sl__slides .mod_4_resp_sl--is_active {
  display: block !important;
}

/*Make all links of slides like they are not active*/
.mod_4_resp_sl__list a {
  color: gray;
  cursor: default;
}

/*Active will be only those which have class that joins them to some slides*/
.mod_4_resp_sl__list a[class*="mod_4_resp_sl__lk"] {
  color: blue;
  cursor: pointer;
}

/*Activated link will have some different style*/
.mod_4_resp_sl__list a[class*="mod_4_resp_sl__lk"].mod_4_resp_sl--is_active {
  color: rgb(255, 38, 244);
}

/*Responsive reaction*/

/*Begining state is mobile*/
.mod_4_resp_sl__list {
  text-align: center;
}

/*Below is for tablet*/
@media only screen and (min-width: map-get($breakpoints , medium )) {
  @media only screen and (max-width: map-get($breakpoints , large ) - 1px) {
    .mod_4_resp_sl__list {
      text-align: left;
    }
  }
}

/*And for pc*/
@media only screen and (min-width: map-get($breakpoints , large )) {
  .mod_4_resp_sl__list {
    text-align: left;
  }
}

/*Link list style*/
.mod_4_resp_sl__list ul {
  list-style-type: none;
}