/*Module 3 horizontal accordion - begin*/
/*!!! Перекласти потім все.*/

/*Початок задання стилю через занулення можливих наперед заданих параметрів*/
@mixin mod_3_hr_accr__zero_box () {
  margin: 0;
  padding: 0;
  border: 0;
}

/*Style for outer box*/
/*Зовнішній контейнер акордіона має мати ширину 100% і нижче подані параметри, для
зливання його з контейнером куди потім буд поміщувтаись акордіон вцілому.*/
.mod_3_hr_accr__outer_box {
  /*Це для зливання з елементом який міститиме наш акордіон*/
  width: 100%;
  box-sizing: border-box !important;

  margin: 0 !important;
  border: 0 !important;
}

/*Оскільки акордіон буде мати флоа лефт, для того щоб він мав мінімально потрібну ширину,
то має бути кліарфікс хак.*/
.mod_3_hr_accr__outer_box::after { 
  content: "";
  display: block;
  clear: both;
}

/*Style of accordion*/
.mod_3_hr_accr {
  float: left;

  @include mod_3_hr_accr__zero_box();
  display: block;
}

/*Ітеми акордіона також матимуть флоат лефт щоб стояти в рядок, тому і фікс присутній.*/
.mod_3_hr_accr::after { 
  content: "";
  display: block;
  clear: both;
}

/*Style of accordion items + something that need to have same style*/
.mod_3_hr_accr__item, .mod_3_hr_accr__item_same_style {
  float: left;

  @include mod_3_hr_accr__zero_box();
  display: block;
}

/*Кнопки і контейнери матимуть флоат леф, щоб також занімати мінімально потрібну ширину,
 стояти в рядок, і фікс присутній.*/
.mod_3_hr_accr__item::after, .my_div::after { 
  content: "";
  display: block;
  clear: both;
}

/*Style of accordion buttons and containers*/
/*Контейнери будуть мати бордер-бокс, для того щоб можна було
 по перше задавати числом ширину конетйнерів для їх схлопування, щоб при
 присутності паддінга контейнер схлопнувся.
  Кнопки також матимуть бордер-бокс для задавання їх однакових висот - так просто вибрано.*/
.mod_3_hr_accr__button, .mod_3_hr_accr__cont {
  float: left;

  @include mod_3_hr_accr__zero_box();
  box-sizing: border-box !important;
  //!!! For test
  //width: 100px;
}

.mod_3_hr_accr__button {
  cursor: pointer;
}

/*Для того щоб можна було колапсити контейнери а вміст ховався*/
.mod_3_hr_accr__cont {
  overflow: hidden;
}

/*Класс і стиль для відкривання і закривання контейнера.
Для повного колапсу контейнера потрібно забрати 
його ліві і праві паддінг і бордер*/
.mod_3_hr_accr__zero_padd_bord {
  border-left: 0 !important;
  border-right: 0 !important;
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.mod_3_hr_accr__zero_marg {
  margin-left: 0 !important;
  margin-right: 0 !important;
}

/*For test only*/
/*Те що нижче птрібно суто для потреб розробк.*/
/*
.mod_3_hr_accr__button, .mod_3_hr_accr__cont, .mod_3_hr_accr__item, .mod_3_hr_accr {
  padding: 2px;
  border: 1px solid gray;
  margin: 2px;
}

.mod_3_hr_accr {
  background-color: rgb(230, 173, 173);
}

.mod_3_hr_accr__item {
  background-color: rgb(115, 230, 121);
}

.mod_3_hr_accr__button, .mod_3_hr_accr__cont {
  background-color: rgb(233, 202, 164);
}
*/

/*Для того щоб перевірити "переключання" даного класу*/
/*
.mod_3_hr_accr__item--open {
  border: 2px solid red;
}*/

/*Module 3 horizontal accordion - end*/